.premium-banner {
  background-color: #efe528b3;
  /* soft beige background */
  color: #3c3c3c;
  /* elegant dark gray text */
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  padding:1px;
  color: black;
  /* border: 0.5px solid black; */
  border-radius: 18px;
 
  margin-top: -80px;
}