.premium-banner {
  background-color: #0b0b0bb3;
  /* soft beige background */
  color: lab(98% 0.34 0.11);
  /* elegant dark gray text */
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  padding:1px;
  /* border: 0.5px solid black; */
  border-radius: 18px;
  margin-top: -80px;
}