.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: oklab(75.63499999999999% -0.03567 -0.09678);
    font-family: "Poppins", sans-serif;
}

.profile-card {
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    width: 380px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 40px;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 0px;
}

.brand-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #222;
}

.phone-input {
  display: flex;
  align-items: center;
}

.country-code {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 8px 0 0 8px;
  font-weight: bold;
}

.phone-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 8px 8px 0;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}

.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
}

.form-group input[type="password"]:focus {
  border-color: #007bff;
  align-items: center;
}

.error-text {
  color: red;
  font-size: 12px;
  
}


.form-section {
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #000;
}

.save-btn {
    width: 40%;
    align-items: center;
    padding: 10px;
    background-color:green;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 50px;
}

.save-btn:hover {
    background-color: #333;
}